#nav-left, #nav-right{
    width: 15vw;
    z-index: 2;
    padding: 5vh 2vw;
    position: relative;
}

#nav-left > div{
    position: sticky;
    top: 15px
}

#nav-left li{
    list-style: none;
    margin: 5px 0;
}

#main-page{
    width: 70vw;
    z-index: 1;
    text-align: center;
}