.subscriptionHeader{
  height: 40vh;
  padding: 10vh;
}

.subscriptionTitle{
  text-transform: uppercase;
  color: black;
  font-size: 42px;
  font-weight: 400;
  margin: 10px 0;
}

.subscriptionSubtitle{
  margin: 10px 0 20px 0;
}

.subscriptionTextTitle{
  padding: 0 100px;
  margin: 15px 0;
}

.subscribtion-card{
 align-items: center;
 height: 70vh;
}


.img-subscription-card {
  width: 65%;
  height: 56vh;
  margin: 0 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.30);
}

.img-subscription-card > img{
  height: 100%;
}

.cardContent {
  width: 100%;
  padding: 30px;
}

.cardText {
  padding: 10px 100px 0 0;
  text-align: justify;
  color: white;
  height: 50vh;
}

.cardText p {
  margin: 20px 0;
}

.cardHeader button {
  margin-left: 20px;
}

.cardHeader h2 {
  margin-right: 40px;
}

.contenu-card-content{
  justify-content: space-between;
  text-align: left;
}

.etudeGraphique {
  width: 40%;
}

.etudeGraphique > p, .universGraphique > p{
  font-size: 18px;
  font-weight: 400;
}

.universGraphique {
  width: 55%;
}

.subscribtion-card-title {
  text-transform: uppercase;
  color: #5B498D
}

.underlineSpan {
  display: block;
  width: 100%;
  height: 0.1rem;
  border-radius: 10px;
  margin: 5px 0;
}

.underlineSpanNone {
  display: block;
  width: 100%;
  height: 0.1rem;
  background-color: inherit;
  border-radius: 10px;
  margin: 5px 0;
}

.footer-card-button {
  border: 2px black solid;
  border-radius: 15px;
  padding: 10px;
}

.footer-card-button-group {
  justify-content: space-between;
  margin: 30px 0;
}

.ttc {
  font-size: 9px;
  margin: 0 5px;
}

h2{
  font-weight: 400;
}

button p{
  font-size: 18px;
  color: #5B498D
}

